{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>Welcome, {{ user.name}}</h2>
    <div class="profile-card mt-3 p-3 border rounded" style = "max-width: 400px;">
        <img src="{{ user.avatar_url }}" alt="Your profile picture" class="img-thumbnail mb-3" width="150">
        <ul class="list-group">
            <li class = "list-group-item"><strong>Username:</strong> {{ user.name }}</li>
        </ul>
    </div>
    <div class ="mt-4">
        <h4>To add the scores section</h4>
        <!-- So much stuff to add here -->
    </div>
</div> <!-- End of container mt-4 div -->
{% endblock %}