{% extends "base.html" %}

{% block content %}
<div class="container mt-4" style="max-width: 600px;">
<h2>
    {% if is_admin %}
        Submit Official Leaderboard Score
    {% else %}
        Submit Personal Score
    {% endif %}
</h2>

    <p class = "text-muted">
        {% if is_admin %}
            This score will appear on the overall leaderboard, not your own.
        {% else %}
            This score is only viewable to you in your player profile.
        {% endif %}
    </p>
<form method="post">
    <div class = "mb-3">
        <!-- Game Dropdown Menu -->
    <label for="game">Game</label>
        <select name="game" id = "game" required>
            <option value="" disabled selected>Choose a game</option>
            <option value="Tetris.com">Tetris.com</option>
            <option value="MindBender">MindBender</option>
            <option value="E60">E60</option>
            <option value="NBlox">N-Blox</option>
        </select>
        <!-- Score -->
        <label for="score">Score</label>
        <input
            type="number"
            name="score"
            id="score"
            step="1"
            required>

        <!-- Date -->
        <label for="date_achieved">Date Achieved</label>
        <input
            type="date"
            name="date_achieved"
            id="date_achieved">

        <!-- Admin field -->
        {% if is_admin %}

            <label for="link">Proof Link</label>
            <input
                type="url"
                name="link"
                id="link"
                placeholder="Add the link for the screenshot here"
                required
            >

            <label for="player_name">Player Name</label>
            <input
            type="text"
            name="player_name"
            id="player_name"
            placeholder="Please enter the EXACT same that the player uses"
            required
            >

        <label for="notes">Moderator Notes</label>
            <textarea
                name="notes"
                 id="notes"
                 rows="3"
                 placeholder="Optional notes about this submission"
                >
            </textarea>
        {% endif %}

        <button type="submit">
            Submit
        </button>
    </div>

</form>


</div>


{% endblock %}

<script>
    const gameSelection = document.getElementById("game");
    const scoreInput = document.getElementById("score");

    const minimumScores = {
    "Tetris.com" = 1500000,
    "MindBender" = 500000,
    "E60" = 100000,
    "NBlox" = 1000000
    };

    gameSelect.addEventListener("change", () => {
    const selectedGame = gameSelect.value()
    const minimumScore = minimumScores[gameSelection];

    if(minimumScore) {
    scoreInput.min = minimumScore;
    scoreInput.placeholder = 'The minimum score is: ${minimumScore.toLocaleString())`;
    }
    });
</script>